.Header{
    background-color: rgb(13, 13, 46);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.Header h5{
    color: white;
    font-size: 25px;
    line-height: 32px;
    font-weight: bold;
}